<div class="map" style="background-image: url('https://images.alphacoders.com/120/thumb-1920-1204973.jpg'); height: 500px; background-position: center">
</div>
<div class="container mt-4" id="main-container">
  <div class="row">
    <div class="container">
      <div class="row">
        <div class="col-md-9" id="left-column">
          <div class="bg-light shadow p-4 mb-3">
            <h1><%= @flat.name %></h1>
            <p><%= @flat.address %></p>
          </div>
          <div class="bg-light shadow p-4 mb-3">
            <h5>A bit more about this flat...</h5>
            <p><%= @flat.description %></p>
          </div>
          <div class="bg-light shadow p-4 mb-3">
            <h5>Details</h5>
            <p> <i class="fa-solid fa-user"></i> <%= @flat.number_of_guests %>
            <i class="fa-solid fa-euro-sign"></i> <%= @flat.price_per_night %></p>
          </div>
        </div>

        <!-- Right column -->
        <div class="col-md-3" id="right-column">
          <div class="border p-3  bg-light shadow">
            <h5>Book this place!</h5>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">From</span>
              </div>
              <input type="date" class="form-control" id="fromDate" value="2025-02-11" />
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">To</span>
              </div>
              <input type="date" class="form-control" id="toDate" value="2025-02-12" />
            </div>
            <%# make button wider %>
            <button class="btn btn-success">Book</button>
          </div>

          <div class="mt-3 bg-light shadow d-flex justify-content-between p-3 bg-light shadow">
            <h5>Share</h5>
            <div>
              <a href="#" class="me-2"><i class="fa-brands fa-facebook"></i></a>
              <a href="#" class="me-2"><i class="fa-brands fa-twitter"></i></a>
              <a href="#" class="me-2"><i class="fa-brands fa-pinterest"></i></a>
              <a href="#" class="me-2"><i class="fa-solid fa-envelope"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Left-aligned information -->
  </div>
</div>
